html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

body {
    line-height: 1.5;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.content__div {
    padding: 50px 0;
}

.sub__title {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
}

.hny__title {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}

.content p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24.5px;
    color: #696969;
    margin: 15px 0 35px 0;
}

.content li {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #000c04;
    margin: 15px 0;
    font-weight: 600;
}

.content span.fa {
    color: #189A46;
    margin-right: 12px;
    background: #f0f3f0;
    font-size: 10px;
    padding: 8px;
    border-radius: 50%;
    display: inline-block;
}

.img__dog {
    border-radius: 10px;
}

.content__right {
    align-self: center;
}

/* number */
.number {
    background-color: #189A46;
}

.count__number {
    padding: 50px 0;
}

.number__item {
    text-align: center;
    padding: 0;
    border-top: none;
    border-bottom: none;
}

.number__item p {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 0;
}

.number__item h4 {
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #fff;
    margin-top: 10px;
    opacity: 0.8;
    font-weight: 400;
}

@media (max-width: 992px) {
    .number__item p {
        font-size: 40px !important;
        line-height: 50px;
    }

    .number__item h4 {
        font-size: 10px !important;
    }
}

@media (max-width: 737px) {
    .number__item p {
        font-size: 35px !important;
        line-height: 38px;
        margin-top: 20px;
    }

    .number__item h4 {
        font-size: 17px !important;
    }
}