html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

body {
    line-height: 1.5;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.content__div {
    padding: 50px 0;
    align-items: center;
}

.sub__title {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
}

.hny__title {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}

.content p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24.5px;
    color: #696969;
    margin: 15px 0 35px 0;
}

.content li {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #000c04;
    margin: 15px 0;
    font-weight: 600;
}

.content span.fa {
    color: #189A46;
    margin-right: 12px;
    background: #f0f3f0;
    font-size: 10px;
    padding: 8px;
    border-radius: 50%;
    display: inline-block;
}

.img__dog {
    border-radius: 10px;
}